<ul class="navbar-nav ml-auto">
 <% if user_signed_in? %>
   <li class="nav-item">
     <button class="text-white btn btn-secondary", data-
     toggle="modal" data-target="#noticeModal">
       <i class="fas fa-bell"></i>
       
     </button>
   </li>
  <% end %>
</ul>
